*{
    margin: 0px;
    padding: 0px;
}

body{
    width: 100vw;
    height: 100vh;
    background: black;
    color: #fff;
    font-size: 50px;
}

.container-principal{
    background-color: white;
    height: 100%;
    width: 100%;

    display: grid;
}

.div-left{
    background-color: green;
}

.div-right{
    background-color: blue;
}

.footer{
    background-color: red;
}